Source: fractorium
Section: graphics
Priority: optional
Maintainer: Gambhiro Bhikkhu <gambhiro.bhikkhu.85@gmail.com>
Build-Depends: debhelper (>= 9), g++ (>= 4.9), libdbus-1-dev, libgl1-mesa-dev, libgl-dev, libglm-dev, libjpeg-dev, libpng12-dev, libtbb-dev, libxml2-dev, qt5-default, qt5-qmake, qtbase5-dev, libqt5opengl5-dev, opencl-headers (<< 2.0), nvidia-opencl-icd-352, nvidia-libopencl1-352
Standards-Version: 3.9.5
Homepage: http://mfeemster.deviantart.com/
Vcs-Git: https://github.com/mfeemster/fractorium
Vcs-Browser: https://github.com/mfeemster/fractorium

Package: fractorium
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, nvidia-prime, nvidia-modprobe
Description: A Qt-based fractal flame editor
 A Qt-based fractal flame editor which uses a C++ re-write of the flam3
 algorithm named Ember and a GPU capable version named EmberCL which implements
 a portion of the cuburn algorithm in OpenCL.
 .
 The interface is very similar to Apophysis, with most of the popular variations
 implemented.